.jobs-list a {
  text-decoration: none;
  color: #f0f0f0; }
.jobs-list a:hover {
    color: white; }

body {
  font-family: Helvetica, Arial, sans-serif;
  background-image: url("./bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  padding: 0; }

h1, h3 {
  display: inline;
  font-weight: normal;
  color: white; }

h1 {
  font-size: 96px; }

h3 {
  font-size: 48px; }

.route-container {
  display: flex; }
  .route-container .form-container {
    flex: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    .route-container .form-container .form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: white; }
      .route-container .form-container .form label {
        width: 320px; }
      .route-container .form-container .form input[type=text], .route-container .form-container .form input[type=date],
      .route-container .form-container .form select {
        width: 320px;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 3px solid lightgrey;
        color: white;
        background: transparent;
        box-sizing: border-box; }
        .route-container .form-container .form input[type=text]:focus, .route-container .form-container .form input[type=date]:focus,
        .route-container .form-container .form select:focus {
          border-color: white; }
      .route-container .form-container .form input[type=submit] {
        border: 3px solid lightgrey;
        background: transparent;
        color: white;
        padding: 14px 20px;
        margin: 2em 0;
        cursor: pointer;
        align-self: right; }
      .route-container .form-container .form input[type=submit]:hover {
        border-color: white;
        background-color: white;
        color: grey; }
  .jobs-list {
    flex: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px; }
    .route-container .jobs-list h3 {
      margin-top: 0; }
    .route-container .jobs-list .table {
      width: 900px;
      text-align: right; }
      .route-container .jobs-list .table th {
        border-bottom: 2px solid lightgrey; }
  .no-page {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 40px; }
  .edit-job {
    flex: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    .edit-job .form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: white; }
      .edit-job .form label {
        width: 320px; }
      .edit-job input[type=text], .edit-job .form input[type=date],
      .edit-job .form select {
        width: 320px;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 3px solid lightgrey;
        color: white;
        background: transparent;
        box-sizing: border-box; }
        .edit-job .form input[type=text]:focus, .edit-job .form input[type=date]:focus,
        .edit-job .form select:focus {
          border-color: white; }
      .edit-job .form input[type=submit] {
        border: 3px solid lightgrey;
        background: transparent;
        color: white;
        padding: 14px 20px;
        margin: 2em 0;
        cursor: pointer;
        align-self: right; }
      .edit-job .form input[type=submit]:hover {
        border-color: white;
        background-color: white;
        color: grey; }